@model List<Cohire.Models.JobFeedListNM.JobFeedList>

<style>
    body, input {
        margin: 0px;
        padding: 0px;
    }

    a {
        color: #0254EB
    }

        a:visited {
            color: #0254EB
        }

    #header h2 {
        color: white;
        margin: 0px;
        padding: 5px;
    }

    .comment {
        margin: 10px;
    }

    a.morelink {
        text-decoration: none;
        outline: none;
    }

    .morecontent span {
        display: none;
    }
</style>
<div class="pt-4 feeds">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <!-- Feed Item -->
            string shareURL = item.BaseURL+ "/home/JobDetails?jobId=" + item.ChJobID;
            <div class="bg-white p-3 feed-item rounded-4 mb-3 shadow-sm" style="cursor: pointer">
                <div class="d-flex">
                    <img src="~/Img/rmate2.jpg" class="img-fluid rounded-circle user-img" alt="profile-img">
                    <div class="d-flex ms-3 align-items-start w-100">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between">
                                <a href="javascript:void(0)" class="text-decoration-none d-flex align-items-center">
                                    <h6 class="fw-bold mb-0 text-body"><label asp-for="@item.PostedByName">@item.PostedByName</label></h6>
                                    <span class="ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon">done</span>
                                    <small class="text-muted ms-2">POSTID:<b style="color:black"> @item.ChJobID</b> </small>


                                </a>
                                <div class="d-flex align-items-center small">
                                    <p class="text-muted mb-0"><label asp-for="@item.CreatedDate">@item.CreatedDate</label></p>
                                    <div class="dropdown">
                                        <a href="#" class="text-muted text-decoration-none material-icons ms-2 md-20 rounded-circle bg-light p-1" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">more_vert</a>
                                        <ul class="dropdown-menu fs-13 dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item text-muted" href="#"><span class="material-icons md-13 me-1">edit</span>Edit</a></li>
                                            <li><a class="dropdown-item text-muted" href="#"><span class="material-icons md-13 me-1">delete</span>Delete</a></li>
                                            <li><a class="dropdown-item text-muted" href="#"><span class="material-icons md-13 me-1 ltsp-n5">arrow_back_ios arrow_forward_ios</span>Embed Vogel</a></li>
                                            <li><a class="dropdown-item text-muted d-flex align-items-center" href="#"><span class="material-icons md-13 me-1">share</span>Share via another apps</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="my-2">
                                <p class="mb-3 text-primary"><b><label asp-for="@item.Jobtitle">@item.Jobtitle</label></b></p>
                                <p class="text-dark comment more">
                                    @item.JobDescription
                                    <br />
                                    <b> Category: @item.Category_Name</b><br />
                                    <b>Location: @string.Join(",", item.city.Select(student => student))</b><br />
                                    <b> Salary: @item.Salaryrange</b><br />
                                    <b> Emplyment Type: @item.Employmenttype_Name</b>
                                </p>
                                <p>
                                    @if (item.JobFiles.Where(x=>x.filetype.ToLower()=="pdf"|| x.filetype.ToLower()=="docx").ToList().Count > 0)
                                    {
                                    <span style="color:black;font-weight:bold">  Attached Document:</span> 
                                        @for (int i = 0; i < item.JobFiles.Count(); i++)
                                        {
                                            if (item.JobFiles[i].filetype.ToLower() == "pdf")
                                            {
                                                <i onclick="ViewDocument('@item.JobFiles[i].filename')" title="@item.JobFiles[i].filename" class="fa fa-file-pdf-o" aria-hidden="true" style="color:palevioletred"></i>
                                            }
                                            if (item.JobFiles[i].filetype.ToLower() == "docx")
                                            {
                                
                                             <i onclick="ViewDocument('@item.JobFiles[i].filename')" title="@item.JobFiles[i].filename" class="fa fa-file-word-o" aria-hidden="true" style="color:blue"></i>
                                
                                            }
                                        }
                                    }
                                </p>

                                @if (item.JobFiles.Count > 0)
                                {
                                    <div class="image-slider">
                                        <div id="carouselExampleIndicators_@item.ChJobID" class="carousel slide" data-bs-ride="carousel">
                                            <div class="carousel-indicators">
                                                @{ int i = 0;}
                                                @foreach (var v in item.JobFiles.ToList().Where(x=>x.filetype.ToLower()== "png" ||x.filetype.ToLower() == "jpg"|| x.filetype.ToLower() == "jpeg" || x.filetype.ToLower() == "gif" ||x.filetype.ToLower() == "mp4"))
                                                {

                                                    int slied = i + 1;
                                                        <button type="button" data-bs-target="#carouselExampleIndicators_@item.ChJobID" data-bs-slide-to="@i" class="active" aria-label="Slide @slied" aria-current="true"></button>
                                                    i++;
                                                }
                                                
                                            </div>

                                            <div class="carousel-inner">
                                                @{ i = 0;}
                                                @foreach (var v in item.JobFiles.Where(x => x.filetype.ToLower() == "png" || x.filetype.ToLower() == "jpg" || x.filetype.ToLower() == "jpeg" || x.filetype.ToLower() == "gif" || x.filetype.ToLower() == "mp4").ToList())
                                                {
                                                    if (v.filetype.ToLower() != "mp4")
                                                    {
                                                        if (i == 0)
                                                        {
                                                            <div class="carousel-item active">
                                                                <img src="@v.fileurl" class="d-block w-100" alt="..." onclick="OpenCommentModal('@item.ChJobID')">
                                                            </div> }
                                                        else
                                                        {
                                                            <div class="carousel-item">
                                                                <img src="@v.fileurl" class="d-block w-100" alt="..." onclick="OpenCommentModal('@item.ChJobID')">
                                                            </div>
                                                        }
                                                        i++;
                                                    }
                                                    else if (v.filetype.ToLower() == "mp4")
                                                    {
                                                        if (i == 0)
                                                        {
                                                            <div class="carousel-item active" onclick="OpenCommentModal('@item.ChJobID')">
                                                                <video src="@v.fileurl" controls />
                                                            </div> }
                                                        else
                                                        {
                                                            <div class="carousel-item" onclick="OpenCommentModal('@item.ChJobID')">
                                                                <video src="@v.fileurl" controls />
                                                            </div>
                                                        }
                                                        i++;
                                                    }
                                                }
                                            </div>
                                            <div>
                                                <button class="carousel-control-prev" type="button">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true" data-bs-target="#carouselExampleIndicators_@item.ChJobID" data-bs-slide="prev"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button">
                                                    <span class="carousel-control-next-icon" aria-hidden="true" data-bs-target="#carouselExampleIndicators_@item.ChJobID" data-bs-slide="next"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                }


                                <div class="d-flex align-items-center justify-content-between mb-2 classMargintop">
                                    <div>
                                        <a title="Apply" href="#" class="text-muted text-decoration-none d-flex align-items-start fw-light">Apply &nbsp;&nbsp;<span class="apply_count_@item.ChJobID">@item.applyCount</span></a>
                                    </div>
                                    <div>
                                        <a title="Refer" href="javascript:void(0)" class="text-muted text-decoration-none d-flex align-items-start fw-light" onclick="GetReferModel('@item.ChJobID')">Refer &nbsp;&nbsp;<span class="refer_count_@item.ChJobID">@item.referCount</span></a>
                                    </div>
                                    <div>
                                        <a href="javascript:void(0)" class="text-muted text-decoration-none d-flex align-items-start fw-light" onclick="IncreaseLike('@item.ChJobID')"><span class="material-icons md-20 me-2" id="likebtns_@item.ChJobID">thumb_up_off_alt</span><span class="likeCount_@item.ChJobID">@item.likeCount</span></a>
                                    </div>
                                    <div onclick="LoadComments('@item.ChJobID')">
                                        <a href="javascript:void(0)" class="text-muted text-decoration-none d-flex align-items-start fw-light"><span class="material-icons md-20 me-2">chat_bubble_outline</span><span class="cmnt_count_@item.ChJobID">@item.commentCount</span></a>
                                    </div>

                                    <div>
                                        <a href="javascript:void(0)" class="text-muted text-decoration-none d-flex align-items-start fw-light" onclick="ShareURL('@shareURL')"><span class="material-icons md-18 me-2">share</span><span>Share</span></a>
                                    </div>
                                </div>
                                @if (item.Comments != null)
                                {
                                    <div class="comments ex3 classMargintopnew" id="cmnt_div_@item.ChJobID">
                                    </div>
                                }
                                else
                                {
                                    <div class="comments classMargintopnew" id="cmnt_div_@item.ChJobID">
                                    </div>
                                }
                                <div class="d-flex align-items-center mb-3 classMargintop" data-bs-toggle="modal">
                                    <span class="material-icons bg-white border-0 text-primary pe-2 md-36">account_circle</span>
                                    <input type="text" id="cmnt_@item.ChJobID" JobAtr="@item.ChJobID" class="form-control form-control-sm rounded-3 fw-light cmnt_box" placeholder="Write Your comment">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feed Item -->
        }
    }

</div>



<script>
    $(document).ready(function () {
        var showChar = 100;
        var ellipsestext = "...";
        var moretext = "more";
        var lesstext = "less";
        $('.more').each(function () {
            var content = $(this).html();

            if (content.length > showChar) {

                var c = content.substr(0, showChar);
                var h = content.substr(showChar - 1, content.length - showChar);

                var html = c + '<span class="moreelipses">' + ellipsestext + '</span>&nbsp;<span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                $(this).html(html);
            }

        });

        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    });
</script>
