@model List<Cohire.Models.JobFeedListNM.postjobsearch>
@{
    Layout = null;
}

@foreach (var job in Model)
{
    <div class="col-xl-6 pxp-jobs-card-2-container">
        <div class="pxp-jobs-card-2 pxp-has-shadow">
            <div class="pxp-jobs-card-2-top">
                <a href="single-company-1.html" class="pxp-jobs-card-2-company-logo" style="background-image: url(images/company-logo-1.png);"></a>
                <div class="pxp-jobs-card-2-info">
                    <a href="single-job-1.html" class="pxp-jobs-card-2-title">@job.Jobtitle</a>
                    <div class="pxp-jobs-card-2-details">
                        <a href="jobs-list-1.html" class="pxp-jobs-card-2-location">
                            <span class="fa fa-globe"></span>@string.Join(",", @job.city)
                        </a>
                        <div class="pxp-jobs-card-2-type">@job.Employmenttype_Name</div>
                    </div>
                </div>
            </div>
            <div class="pxp-jobs-card-2-bottom">
                <a href="jobs-list-1.html" class="pxp-jobs-card-2-category">
                    <div class="pxp-jobs-card-2-category-label">@job.Category_Name</div>
                </a>
                <div class="pxp-jobs-card-2-bottom-right">
                    <span class="pxp-jobs-card-2-date pxp-text-light">@job.CreatedDate</span> <a href="single-company-1.html" class="pxp-jobs-card-2-company">@job.PostedByName</a>
                </div>
            </div>
        </div>
    </div>
}
<div class="row mt-4 mt-lg-5 justify-content-between align-items-center">
    <div class="col-auto">
        <a href="#" class="btn rounded-pill pxp-section-cta mt-3 mt-sm-0">Show me more<span class="fa fa-angle-right"></span></a>
    </div>
</div>